<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pay My Buddy</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="images/logo.png" alt="Logo PMB">
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="home" class="nav-link text-primary" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="operation" class="nav-link text-dark">Operation</a></li>
            <li class="nav-item"><a href="profile" class="nav-link text-dark">Profile</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link text-dark">Contact</a></li>
            <li class="nav-item"><a href="login" class="nav-link text-dark">Log off</a></li>
        </ul>
    </header>
</div>

<header class="mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>


------


<div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>


</body>