<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay My Buddy</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row ">
            <div class="row">
                <div class="col-md-4 offset-md-4 border_grey">
                    <img src="images/logo.png" class="rounded mx-auto d-block" alt="Logo PMB">

                    <form th:action="@{/login}" method="post"
                          class="form">

                        <a>Enter email address</a>
                        <div class="d-flex justify-content-center">
                            <input type="email"
                                   name="username"
                                   class="form-control"
                                   id="username"
                                   placeholder="Email">
                        </div>

                        <a>Enter password</a>
                        <div class="test d-flex justify-content-center">
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Password">
                        </div>

                        <div class="row">
                            <p class="text-light">-</p>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit"
                                    class="btn btn-primary"
                                    id="BLogin">
                                Login
                            </button>
                        </div>
                    </form>


                    <div class="row">
                        <p class="text-light">-</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="register" class="btn btn-primary">Create account</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>