<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay My Buddy</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center border-bottom">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/">
            <img alt="Logo PMB" src="images/logo.png">
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a aria-current="page" class="nav-link text-dark" href="home">Home</a></li>
            <li class="nav-item"><a class="nav-link text-primary" href="transfer">Operation</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="login">Log off</a></li>
        </ul>
    </header>
</div>

<header class="mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-primary" href="home">Home</a></li>
                <li><a class="nav-link px-2 link-secondary" href="#">/</a></li>
                <li><a class="nav-link px-2 link-secondary" href="#">Transfer</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6">Send Money</div>
        <div class="col-md-6">
            <p class="float-end">
                <a class="nav-link text-dark" href="contact">
                    <button class="btn btn-primary float-end"
                            id="BAdd"
                            type="submit">
                        Add Contact
                    </button>
                </a>
            </p>
            </span></div>
    </div>
</div>

<div class="container bg-light">
    <div class="row">

        <form action="#" class="form"
              method="post"
              th:action="@{/operation/transfer}">

            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <select id="email"
                                name="email">
                            <option value=""> Select A Connection</option>
                            <option th:each="user : ${users}"
                                    th:utext="${user.firstName} + ' ' + ${user.lastName}"
                                    th:value="${user.email}"
                            >
                            </option>
                        </select>
                    </div>

                    <div class="col-lg-3">
                        <div class="input-group">
                            <input aria-label="Description"
                                   class="form-control"
                                   id="description"
                                   name="description"
                                   placeholder="description"
                                   type="text">
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="input-group">
                            <input aria-label="Amount"
                                   class="form-control"
                                   id="amount"
                                   name="amount"
                                   placeholder="Amount"
                                   type="text">
                            <button class="btn btn-outline-secondary" type="button">+</button>
                            <button class="btn btn-outline-secondary" type="button">-</button>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <button class="btn btn-primary float-end"
                                id="BPay"
                                type="submit">
                            Pay
                        </button>
                    </div>

                    <div class="alert alert-primary" role="alert" th:text="${ope_status}" th:if="${ope_status}"></div>
                    <div class="alert alert-warning" role="alert" th:text="${ope_error}" th:if="${ope_error}"></div>
                    <div class="alert alert-warning" role="alert" th:text="${amo_error}" th:if="${amo_error}"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <p class="text-light">-</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">Transactions</div>
    </div>
</div>
<div class="container bg-light">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table operation-list">
                        <thead>
                        <tr>
                            <th class="bg-success text-white"><span>Connections</span></th>
                            <th class="bg-success text-white"><span>Description</span></th>
                            <th class="bg-success text-white"><span>Amount</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="operation : ${operations}">
                            <td th:text="${operation.receiver}"></td>
                            <td th:text="${operation.description}"></td>
                            <td th:text="${operation.amount} + '€'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-warning" role="alert" th:text="${fetch_error}" th:if="${fetch_error}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>




