<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay My Buddy</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="images/logo.png" alt="Logo PMB">
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="home" class="nav-link text-dark" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="transfer" class="nav-link text-primary">Operation</a></li>
            <li class="nav-item"><a href="profile" class="nav-link text-dark">Profile</a></li>
            <li class="nav-item"><a href="contact" class="nav-link text-dark">Contact</a></li>
            <li class="nav-item"><a href="login" class="nav-link text-dark">Log off</a></li>
        </ul>
    </header>
</div>

<header class="mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="home" class="nav-link px-2 text-primary">Home</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">/</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Transfer</a></li>
            </ul>
        </div>
    </div>
</header>

<form th:action="@{/operation}" method="post"
      action="#"
      class="form">

    <a>Select friend</a>
    <div class="d-flex justify-content-center">
        <input type="email"
               name="email"
               class="form-control"
               id="email"
               placeholder="Email">
    </div>

    <a>Enter Amount</a>
    <div class="d-flex justify-content-center">
        <input type="amount"
               name="amount"
               class="form-control"
               id="amount"
               placeholder="Amount">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit"
                class="btn btn-primary"
                id="BCreate">
            Send
        </button>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6">Send Money</div>
        <div class="col-md-6">
            <p class="float-end">
             <button type="submit"
                    class="btn btn-primary"
                    id="BAdd">
                Add Contact
             </button>
            </p></span></div>
    </div>
</div>

<tr th:each="user : ${users}">
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.email}"></td>
    <td><a>X</a></td>
</tr>

<div class="container bg-light">
    <div class="row">
        <div class="col-lg-4">
<!--            <select name="connection" id="connections">-->
<!--                <option th:each="user : ${users}"-->
<!--                        th:text="${user.firstName}"-->
<!--                        th:text="${user.lastName}">-->
<!--                </option>-->
<!--            </select>-->
            <select>
                <option value=""> Select A Connection </option>
                <option th:each="user : ${users}"
                        th:value="${user.userId}"
                        th:utext="${user.firstName} + ' ' + ${user.lastName}"/>
            </select>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Amount" aria-label="Amount">
                <button class="btn btn-outline-secondary" type="button">+</button>
                <button class="btn btn-outline-secondary" type="button">-</button>
            </div>
        </div>
        <div class="col-lg-4">
            <button type="submit"
                    class="btn btn-primary float-end"
                    id="BPay">
                Pay
            </button>
        </div>
    </div>
</div>

<div class="row">
    <p class="text-light">-</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">Transactions</div>
    </div>
</div>
<div class="container bg-light">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                        <tr>
                            <th class="bg-success text-white"><span>Connections</span></th>
                            <th class="bg-success text-white"><span>Description</span></th>
                            <th class="bg-success text-white"><span>Amount</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a>Stevie Wonder</a>
                            </td>
                            <td>
                                <a>Cinema</a>
                            </td>
                            <td>
                                <a>15€</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a>Stevie Wonder</a>
                            </td>
                            <td>
                                <a>Cinema</a>
                            </td>
                            <td>
                                <a>15€</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a>Stevie Wonder</a>
                            </td>
                            <td>
                                <a>Cinema</a>
                            </td>
                            <td>
                                <a>15€</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pull-right">
                    <li><a href="#"><</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>




