<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center border-bottom">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/">
            <img alt="Logo PMB" src="images/logo.png">
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a aria-current="page" class="nav-link text-dark" href="home">Home</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="operation">Operation</a></li>
            <li class="nav-item"><a class="nav-link text-primary" href="profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="login">Log off</a></li>
        </ul>
    </header>
</div>

<header class="mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-primary" href="home">Home</a></li>
                <li><a class="nav-link px-2 link-secondary" href="#">/</a></li>
                <li><a class="nav-link px-2 link-secondary" href="#">Profile</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="container">


    <div class="container bg-light">
        <div class="row">

            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-md-4"><label class="labels"><span th:text="${user.firstName}"></span></label>
                    </div>

                    <div class="col-md-4"><label class="labels"><span th:text="${user.lastName}"></span></label>
                    </div>

                    <div class="col-md-4"><label class="labels"><span
                            th:text="'Your balance : ' + ${user.balance} +'€'"></span></label>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container bg-light">
        <div class="row">

            <form action="#" class="form"
                  method="post"
                  th:action="@{/profile/bank}">

                <div class="p-3 py-5">
                    <div class="row mt-2">
                        <div class="col-lg-4">
                            <select id="operation"
                                    name="operation">
                                <option value=""> Select An Action</option>
                                <option value="retrait">Retrait</option>
                                <option value="depot">Dépôt</option>
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <div class="input-group">
                                <input aria-label="Amount"
                                       class="form-control"
                                       id="amount"
                                       name="amount"
                                       placeholder="Amount"
                                       type="text">
<!--                                <button class="btn btn-outline-secondary" type="button">+</button>-->
<!--                                <button class="btn btn-outline-secondary" type="button">-</button>-->
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <button class="btn btn-primary float-end"
                                    id="BValidate"
                                    type="submit">
                                Validate
                            </button>
                        </div>

                        <div class="alert alert-primary" role="alert" th:text="${man_status}" th:if="${man_status}"></div>
                        <div class="alert alert-warning" role="alert" th:text="${man_error}" th:if="${man_error}"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

