<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center border-bottom">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/">
            <img alt="Logo PMB" src="images/logo.png">
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a aria-current="page" class="nav-link text-dark" href="home">Home</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="operation">Operation</a></li>
            <li class="nav-item"><a class="nav-link text-primary" href="profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="login">Log off</a></li>
        </ul>
    </header>
</div>

<header class="mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-primary" href="home">Home</a></li>
                <li><a class="nav-link px-2 link-secondary" href="#">/</a></li>
                <li><a class="nav-link px-2 link-secondary" href="#">Profile</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-2"><img class="rounded-circle mt-5"
                                                                                         src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                                                                                         width="150px"><span
            </div>
        </div>

        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                                                                         class="form-control"
                                                                                         placeholder="first name"
                                                                                         value=""></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control"
                                                                                        value="" placeholder="surname">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control"
                                                                                     placeholder="email" value=""></div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button" id="target">Save Profile</button>
                </div>
            </div>
        </div>

        <div class="col-md-5 border-right">

            <form action="#" class="form"
                  method="post"
                  th:action="@{/profile}">

                <div class="p-3 py-5">
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels"><span th:text="${user.firstName}"></span></label>
                            <input class="form-control"
                                   id="firstName"
                                   name="firstName"
                                   placeholder="First Name"
                                   required
                                   type="text">
                        </div>

                        <div class="col-md-6"><label class="labels"><span th:text="${user.lastName}"></span></label>
                            <input class="form-control"
                                   id="lastName"
                                   name="lastName"
                                   placeholder="last Name"
                                   type="text">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels"><span th:text="${user.email}"></span></label>
                            <input class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="Email"
                                   type="email">
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" id="Bupdate" type="button">Update Profile
                            </button>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Your balance : </label><a><span
                            th:text="' ' + ${user.balance}"></span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

