<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay My Buddy</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="images/logo.png" alt="Logo PMB">
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="home" class="nav-link text-dark" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="operation" class="nav-link text-dark">Operation</a></li>
            <li class="nav-item"><a href="profile" class="nav-link text-primary">Profile</a></li>
            <li class="nav-item"><a href="contact" class="nav-link text-dark">Contact</a></li>
            <li class="nav-item"><a href="login" class="nav-link text-dark">Log off</a></li>
        </ul>
    </header>
</div>

<header class="mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="home.html" class="nav-link px-2 text-primary">Home</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">/</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Profile</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-2"><img class="rounded-circle mt-5"
                                                                                         width="150px"
                                                                                         src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                    class="font-weight-bold">Edogaru</span><span
                    class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div sec:authorize="isAuthenticated()">
            Text visible only to authenticated users.
        </div>
        <div sec:authorize="!isAuthenticated()">
            Text visible only to unauthenticated users.
        </div>
        Authenticated username:
        <div sec:authentication="name"></div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>


        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                                                                         class="form-control"
                                                                                         placeholder="first name"
                                                                                         value=""></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control"
                                                                                        value="" placeholder="surname">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control"
                                                                                     placeholder="email" value=""></div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button" id="target">Save Profile</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Address Line</label><input type="text"
                                                                                            class="form-control"
                                                                                            placeholder="address line"
                                                                                            value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control"
                                                                                      placeholder="country" value="">
                    </div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                                                                           class="form-control" value=""
                                                                                           placeholder="state"></div>
                </div>
            </div>
        </div>
    </div>
    <h1>Test</h1>
    <label id="test"></label>

</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    $(document).ready(function() {

    axios.get('/user/')
.then(resp => {
console.log(resp.data);
    $("#test").text(resp.data.firstName);
})

$( "#target" ).click(function() {
  axios.put('/user/id', {
firstName: 'Emilie',
lastName: 'Bidochon'
})
.then(resp => {
console.log(resp.data);
})
});

    });



</script>
</div>
</body>

