<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay My Buddy</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row ">
            <div class="row">
                <div class="col-md-4 offset-md-4 border_grey">
                    <img src="images/logo.png" class="rounded mx-auto d-block" alt="Logo PMB">


                    <form th:action="@{/register}" th:object="${user}" method="post" class="form">

                        <div class="form-group">
                            <a>Enter first name</a>
                            <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                            <div th:if="${#fields.hasErrors('global')}">
                                <h3>Global errors:</h3>
                                <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
                            </div>
                        </div>

                        <div class="form-group">
                            <a>Enter last name</a>
                            <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                        </div>

                        <div class="form-group">
                            <a>Enter email</a>
                            <input class="form-control" type="text" th:field="*{email}" id="email" placeholder="Email">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>

                        <div class="form-group">
                            <a>Enter password</a>
                            <input class="form-control" type="text" th:field="*{password}" id="password" placeholder="Password">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>

                        <input type="submit"  class="btn btn-primary" value="Register">

                    </form>



                    <!--                    <form th:action="@{/register}" method="post"-->
<!--                          action="#"-->
<!--                          class="form">-->

<!--                    <a>Enter first name</a>-->
<!--                    <div class="d-flex justify-content-center">-->
<!--                        <input type="text"-->
<!--                               name="firstName"-->
<!--                               class="form-control"-->
<!--                               id="firstName"-->
<!--                               placeholder="First Name"-->
<!--                               required>-->
<!--                    </div>-->

<!--                    <a>Enter last name</a>-->
<!--                    <div class="d-flex justify-content-center">-->
<!--                        <input type="text"-->
<!--                               name="lastName"-->
<!--                               class="form-control"-->
<!--                               id="lastName"-->
<!--                               placeholder="last Name">-->
<!--                    </div>-->

<!--                    <a>Enter email address</a>-->
<!--                    <div class="d-flex justify-content-center">-->
<!--                        <input type="email"-->
<!--                               name="email"-->
<!--                               class="form-control"-->
<!--                               id="email"-->
<!--                               placeholder="Email">-->
<!--                    </div>-->

<!--                    <a>Enter password</a>-->
<!--                    <div class="test d-flex justify-content-center">-->
<!--                        <input type="password"-->
<!--                               name="password"-->
<!--                               class="form-control"-->
<!--                               id="password"-->
<!--                               placeholder="Password">-->
<!--                    </div>-->
<!--                    <div class="d-flex justify-content-center">-->
<!--                        <button type="submit"-->
<!--                                class="btn btn-primary"-->
<!--                                id="BCreate">-->
<!--                            Create account-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    </form>-->
                </div>
            </div>
        </div>
    </div>
<!--    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<!--    <script>-->

<!--&lt;!&ndash;$(document).ready(function () {&ndash;&gt;-->

<!--&lt;!&ndash;    $("#BCreate").click(function () {&ndash;&gt;-->

<!--&lt;!&ndash;        var FN = $("#firstName").val();&ndash;&gt;-->
<!--&lt;!&ndash;        var LN = $("#lastName").val();&ndash;&gt;-->
<!--&lt;!&ndash;        var E = $("#email").val();&ndash;&gt;-->
<!--&lt;!&ndash;        var P = $("#password").val();&ndash;&gt;-->

<!--&lt;!&ndash;        if (FN == "" || LN == "" || E == "" || P == "") {&ndash;&gt;-->
<!--&lt;!&ndash;            alert("You need to fill all fields");&ndash;&gt;-->
<!--&lt;!&ndash;        } else {&ndash;&gt;-->
<!--&lt;!&ndash;            axios.post('/registerUser', {&ndash;&gt;-->
<!--&lt;!&ndash;                firstName: FN,&ndash;&gt;-->
<!--&lt;!&ndash;                lastName: LN,&ndash;&gt;-->
<!--&lt;!&ndash;                email: E,&ndash;&gt;-->
<!--&lt;!&ndash;                password: P&ndash;&gt;-->
<!--&lt;!&ndash;            })&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;    });&ndash;&gt;-->

<!--&lt;!&ndash;});&ndash;&gt;-->


<!--    </script>-->
</div>
</body>
</html>